/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff550001, #ff88001d);
  color: #ff5500;
  /* Text color */
}

/* Center the h1 element */
h1 {
  text-align: center;
}

/* Hero section styles */
header {
  position: relative;
  height: 100vh;
  background-image: url("jollof-recipe.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  margin: 0;
}

.hero p {
  font-size: 24px;
  margin-bottom: 40px;
}
.P1 {
  padding: 5%;
}
/* CTA button styles */
.cta-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #ff5500;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #cc4400;
}

/* Navigation styles */
nav {
  background-color: #222;
  position: sticky;
  top: 0;
  z-index: 1;
  /* Ensure it's above the hero image */
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff5500;
}

/* Recipe section styles */
#recipe {
  padding: 80px 0;
  text-align: center;
}

#recipe h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

/* Ingredients and Instructions styles */
#ingredients,
#instructions {
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#ingredients h3,
#instructions h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ff5500;
  /* Highlight color */
}

#ingredients ul,
#instructions ol {
  margin-left: 20px;
  padding-left: 20px;
  list-style: disc;
}

/* Slideshow container styles */
.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  /* Add some space below the ingredients and instructions */
}

/* Individual slide container styles */
.Containers {
  display: none;
  text-align: center;
}

.Containers img {
  width: 100%;
  max-height: 400px;
}

/* MessageInfo and Info styles */
.MessageInfo,
.Info {
  text-align: center;
}

/* Back and forward button styles */
.Back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.Back:hover,
.forward:hover {
  background-color: #000;
}

/* Fade animation for slides */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 15s;
  animation-name: fade;
  animation-duration: 15s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* Footer styles */
footer {
  background-color: #222;
  padding: 5px;
  text-align: center;
  color: #fff;
}